:root {
    --main-color: rgb(240, 248, 255);
    --background-color: rgb(213, 213, 213);
}

body, h1, h3, h4, h5, ul {
    margin: 0;
}

html, body {
    height: 100%;
}

input[type='month'] {
    width: 6.8rem;
}

body {
    background-color: var(--background-color);
}

h3 {
    cursor: text;
    font-size: 1.3rem;
    border-bottom: none;
    margin-bottom: 0.5rem;
}

h4 {
    cursor: default;
    border-bottom: 2px solid black;
    margin-bottom: 0.5rem;
}

h5 {
    font-size: 16px;
}

ul {
    padding: 0;
}

fieldset {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 1rem;
    transition: border 0.5s;
    
    &:focus-within {
        border: 2px solid rgb(0, 179, 255);
    }

    input {
        width: 100%;
        border: none;
        background-color: var(--main-color);

        &:focus {
            outline: none;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

button {
    cursor: pointer;
    z-index: 2;
    border: 2px solid rgb(192, 192, 192);
    background-color: rgb(245, 245, 245);
    transition:
        background-color 0.5s,
        scale 0.1s,
        border 0.3s;
    will-change: background-color;

    &:hover {
        background-color: rgb(210, 210, 210);
    }

    &:active {
        scale: 0.95;
    }

    &:focus-visible {
        border: 2px solid rgb(0, 179, 255);
        outline: none;
    }
}

span {
    cursor: text;
}

#root {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: hidden;
}

.screen-reader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.end-to-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.5rem;

    section:not(:last-of-type) {
        margin-bottom: 0.5rem;
    }
}

.sidebar-group {
    flex-direction: column;

    div {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    ul {
        list-style-position: unset;
        padding-left: 1.2rem;
    }
}

.sidebar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 20rem;
    height: 100%;
    background-color: var(--main-color);
    border-right: 2px solid black;
    box-shadow: 2px 0px 10px black;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 0.9rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 8px;
        border: 3px solid transparent;
        background-clip: content-box;
    }

    &::-webkit-scrollbar-button {
        display: none;
        width: 0;
        height: 0;
    }
}

.floating-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        border-radius: 25px;
        box-shadow: 0px 0px 4px rgb(145, 145, 145);
    }
}

.resume {
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    width: 100%;
    background-color: var(--main-color);
    box-shadow: 0px 0px 10px black;
    padding: 3rem;
    box-sizing: border-box;

    li {
        list-style: none;

        &::before {
            content: '• ';
            font-size: 1.1rem;
            font-weight: bold;
            margin-right: 0.5rem;
        }
    }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

.no-animation * {
    animation: none !important;
    transition: none !important;
    opacity: 1 !important;
}

.animation-add-text {
    pointer-events: none;
    display: inline-block;
    opacity: 0;
    animation: addText 0.5s ease forwards;
}

.animation-slide-in {
    opacity: 0;
    animation: slideIn 1s ease forwards;
}

.animation-add-in {
    display: inline-block;
    animation: addIn 0.3s ease forwards;
    will-change: transform, opacity;
}

@keyframes addText {
    0% {
        transform:
            translateY(-2rem)
            translateX(1rem)
            rotate(20deg);
        opacity: 0;
    }
    100% {
        transform:
            translateY(0)
            translateX(0)
            rotate(0deg);
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes addIn {
    0% {
        transform:
            scale(2)
            rotate(-3deg);
        opacity: 0;
    }
    80% {
        transform:
            scale(0.95)
            rotate(1deg);
        opacity: 1;
    }
    100% {
        transform:
            scale(1)
            rotate(0deg);
    }
}

@media (max-width: 1110px) {
    .sidebar {
        top: unset;
        bottom: 0;
        width: 100%;
        height: 20rem;
    }

    .resume {
        margin-bottom: 20rem;
    }
}